.fashion-challenge-section {
    padding: 20px;
    background-color: #fbe8e7;
    width: 106%;
}

.header {
    color: #fc256d;
}

.header1 {
    color: #fc256d;
}

.challenges-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.challenge {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 270px;
}

.challenge img, .featured-submission img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
    height: 350px;
}

.challenge h3 {
    color: #ff4081;
    margin-top: 0;
}

.submission-form {
    margin-top: 10px;
}

.submission-form input {
    display: block;
    margin-bottom: 10px;
}

.submission-form button {
    padding: 8px 16px;
    background-color: #ff4081;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submission-form button:disabled {
    background-color: #777;
    cursor: not-allowed;
}

.success {
    color: green;
    margin-top: 10px;
}

.error {
    color: red;
    margin-top: 10px;
}

.submissions-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.submission, .featured-submission {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 350px;
    height: 350px;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

.submission img, .featured-submission img {
    width: 100%;
    border-radius: 4px;
    height: 300px;
    width: 300px;
}

.featured-submission {
    margin-top: 40px;
}

.featured-submission h3 {
    margin-bottom: 20px;
    color: #fc256d;
}

.featured-submission .submission {
    margin-bottom: 20px;
}
