* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  nav {
    background-color: white;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .nav-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 40px;
    margin-right: 2rem;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    /* justify-content: space-around; */
    flex-grow: 1;
    gap: 10px;
  }
  
  nav ul li {
    margin-right: 1rem;
  }
  
  nav ul li a {
    color: #333;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
    color: #ff3f6c;
  }

  nav ul li .active {
    font-weight: bold;
    border-bottom: 2px solid white;
  }
  
  .content {
    align-content: center;
    padding-top: 6rem; /* Adjust this value to match the height of your navbar */
    text-align: center;
  }
  


  /* .home-container {
    text-align: center;
  } */

  .page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f8f8;
  }
  
  .home-container {
    text-align: center;
    width: 100%;
    max-width: 1330px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .hero-section {
    background-color: #ff4081;
    color: white;
    padding: 30px 20px;
    
  }
  
  .hero-section h1 {
    margin: 0;
    font-size: 2.5em;
  }
  
  .hero-section p {
    margin: 10px 0 0;
    font-size: 1.2em;
  }
  
  .feature-section {
    display: flex;
    justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 20px;
  background-color: #fce4ec;
  gap: 20px; /* Space between the feature cards */
    /* justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    padding: 40px 20px;
    background-color: #fce4ec; */
  }
  
  .feature {
    flex: 1 1 300px;
  max-width: 300px;
  margin: 20px;
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* .feature-image {
    width: 100%;
    border-radius: 10px;
  } */

  .feature img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  
  .feature h2 {
    margin-top: 10px;
    font-size: 1.5em;
    color: #ff4081;

  }
  
  .feature p {
    font-size: 1em;
    margin: 10px 0;
  }
  
  .feature-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ff4081;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .feature-button:hover {
    background-color: #e73370;
  }
  